	/* Image Gallery*/


.gallery {
  /*width: 600px;*/
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
}
.img-c {
  width: 150px;
  height: 100px;
  float: left;
  position: relative;
  overflow: hidden;
  padding: 15px;
}
.star-brown {
	color : #f4511e;
}
.star-grey {
	color: #999;
}
.img-w {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform ease-in-out 300ms;
}

.img-w img {
  display: none;
}

.img-c {
    transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
}

.img-c:hover .img-w {
  transform: scale(1.08);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-c.active {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  z-index: 2;
  transform: translateX(-50%);
}

.img-c.postactive {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.img-c.active.positioned {
  left: 0 !important;
  top: 0 !important;
  transition-delay: 50ms;
}
/*End Image Galleyr*/

.hotel-row {
    min-height: 170px;		
}
.hotel-thumb {
	background-size: cover;
    min-height: 170px;
    cursor: pointer;
    background-position: center;
    padding: 0px;
}
.flight_detail_holder {
    width: 25%;
}
a.to-map {
	color: #1e88e5;
    text-decoration: none;
}
.hs-sv-label-stat {
    width: 130px;
    display: block;
    margin-top: 5px;
}
.label-primary {
    border-color: #2196f3;
}
.label {
    display: inline-block;
    font-weight: 500;
    padding: 2px 5px 1px 5px;
    line-height: 2.5;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .1px;
    border-radius: 2px;
}
.label-primary {
    background-color: #2196f3;
}



.top1 {
	vertical-align: middle;
}
.text-red {
	color: #e53935;
	font-weight: bold;
}
.per_flight_inner_holder {
	padding: 0px;
	background-color: #fff;
}
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
    .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
    .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.nav-tabs > li.active {
    border-radius: 6px;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card { margin-top: 15px; }

.md-text-right {
	text-align: right;
}
.border-grey {
    border-radius: 6px;
    border: 1px solid #ddd;
    padding: 15px 20px;

}
.tab-content {
	padding: 15px 5px;
}

.hotel-map {
	height: 250px;
}
ul.inline-block {
	display: inline-block;
}
.review-box {
	padding: 15px;
}
.heading-element {
	/*padding-bottom: 10px;*/
}
.heading-text {
	line-height: 3;
}
blockquote {
    margin: 0;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 13px;
    border-left: 5px solid #eee;
	padding-top: 0;
    font-family: verdana;
    text-align: justify;
    padding-right: 15px;
}
p.review-star {
	margin-top: 15px;
	font-size: 18px;
}
.ticket-packet {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	padding: 5px;
}
.ticket-packet.head-search {
	padding: 15px;
}
.btn-prev-next {
	padding: 6px 10px;
    font-size: 12px;
    line-height: 1.6;
}
.pager {
    margin: 1px 0;
}

#modal_change_hotel .modal-dialog, #modal_change_hotel .modal-content {
    width: 83.33333333%;
    margin-left: 8.33333333%;
    max-width: 83.33333333%;
}

.header-form .input-group {
    width: 85%;
}

.room-detail p {
	font-size: 0.9em;
	padding: 3px 0px;
}
.title-cancel-policy {
	color: #555;
	padding-bottom: 3px;
}
.cancel-policy {
    font-size: 0.85em;
    font-style: italic;	
}

div.hs-icon-cover {
    border: solid 1px #dedede;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 5px;
    margin-right: 10px;
    background-color: #fdfdfd;
}

#filter-hotel .panel-heading {
	display: inline-block;
}
#filter-hotel .panel-heading h6 {
	display: inline-block;
}
#filter-hotel .panel-heading .heading-btn, {
    margin-left: 20px;
    margin-right: 20px;
	padding : 7px 12px;
	display: inline-block;
}
.heading-btn .btn:hover {
	color: #fff;
}
#filter-hotel .panel-body .fa {
	font-size: 16px;
}

.choice input[type=radio] {
  border: none;
  background: none;
  display: -moz-inline-box;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: -2px;
  z-index: 2;
}

.choice input {
	width: 18px; 
    height: 18px;
}

.hs-sr-book-btn {
    margin-top: 10px;
    width: 110px;
}
.bg-primary-800 {
    background-color: #1565C0;
    border-color: #1565C0;
    color: #fff;
}

.pointer {
	cursor: pointer;
}

@media only screen and (max-width: 1200px) {
	.md-text-right {
		text-align: right;
	}
}
@media only screen and (max-width: 767px) {
	.md-text-right {
		text-align: left;
	}
}